body {
    background-size: auto;
    /* background-image: url('bg.jpg'); */
    background-position: center;
    /*不重复*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /*  max-width: 800px; 设置最大宽度，单位可以是px、em等 */
    margin: 0 auto; /* 居中显示 */
    box-sizing: border-box; /* 设置盒模型为border-box，避免宽度溢出 */
    padding: 20px; /* 设置页面的内边距 */

  }
  .center {
    align-content: flex-start;
    max-width: 200px;
    margin: 0 auto; 
    position: relative;
    line-height: 0;

    position:absolute;
  
    top: 400px;
  }
  /*设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度*/
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }


  